{% extends 'base.html' %}
{% block content %}
    <h3> Join Us Today </h3>
    <br>
    <form method="POST">
        {{ form.hidden_tag()}}
        <div class="form-group">
            {{ form.email.label }}
            {{ form.email(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.username.label }}
            {{ form.username(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.password.label }}
            {{ form.password(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.pass_confirm.label }}
            {{ form.pass_confirm(class_="form-control") }}
        </div>
        <div class="form-group">
            <input type="submit" value="Register" class="btn btn-primary">
        </div>
    </form>
{% endblock %}

