{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div >
            <h3>Welcome {{ user.username }}</h3>
        </div>
        {% if blog_posts.items %}
                
        
        
        <div >
            {% for post in blog_posts.items %}
            <div class="card" style="width: 100%;">
                <div class="card-body">

                    <h2><a href="{{url_for('blog_posts.blog_post', blog_post_id=post.id)}}"> {{post.title|e}} </a> </h2>
                {% if current_user.username != post.author.username %}
                    <small>Posted by <a href="{{ url_for('users.user_posts', username=post.author.username) }}">{{post.author.username}}</a> on {{ post.date.strftime('%B %d, %Y') }}</small>
                {% else %}
                    <small>Posted by <strong>You</strong> on {{ post.date.strftime('%B %d, %Y') }}</small>
                {% endif %}
                
                <div>
                    <p>
                        {{ post.text|truncate(200)|e }}
                        <a href="{{url_for('blog_posts.blog_post', blog_post_id=post.id)}}">[Read More]</a>
                    </p>
                </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div align="center">
            <nav aria-label="Page navigation">
              <ul class="pagination justify-content-center">
                {% for page_num in blog_posts.iter_pages(right_edge=1, left_edge=1, left_current=1, right_current=1) %}
                        {% if blog_posts.page == page_num %}
                                <li class="page-item disabled">{{page_num}}</li>

                        {% else %}
                        <li class="page-item">
                            <a class="page-link" href="{{ url_for('blog_posts.blog_posts', page=page_num) }}">{{ page_num }}</a>
                        </li>        
                        {% endif %}

                        
                {% endfor %}
                
              </ul>
            </nav>
        </div>
        {% else %}
    <div>
        <h5> Sorry, you haven't posted anything yet, start <a href="{{url_for('blog_posts.create_post')}}">here</a></h5>
    </div>
    {% endif %}
{% endblock %}

